<launch>

    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen"/>

    <node pkg="turtlesim" type="turtle_teleop_key" name="key_control" output="screen"/>

    <node pkg="my_robot" type="turtle_spawn.py" name="turtle_spawn" output="screen"/>

    <node pkg="my_robot" type="turtle_tf_broadcaster.py" name="tf_pub1" args="turtle1" output="screen"/>

    <node pkg="my_robot" type="turtle_tf_broadcaster.py" name="tf_pub2" args="turtle2" output="screen"/>

    <node pkg="my_robot" type="turtle_tf_listener.py" name="tf_sub" output="screen"/>

</launch>